// Serif - Gazpacho
@font-face {
    font-family: 'Gazpacho Bold';
    src: url('../fonts/gazpacho-bold-webfont.woff2') format('woff2'),
         url('../fonts/gazpacho-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


// Sans Serif - Brandon Text
@font-face {
    font-family: 'Brandon Text';
    src: url('../fonts/brandontext-regular-webfont.woff2') format('woff2'),
        url('../fonts/brandontext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text Bold';
    src: url('../fonts/brandontext-bold-webfont.woff2') format('woff2'),
        url('../fonts/brandontext-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Condensed Sans Serif
