<section class="hero hero--home hero--short text-white">
  <div class="container pb-5 pt-2">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-8">
          <h1 class="display-1">
            Say goodbye<br />to stress
          </h1>
        <p class="lead">
          With Ashwagandha, nature’s most powerful herb:
          <ul class="hero__list">
            <li>
              Enhances inner peace
            </li>
            <li>
              Boosts Brain Function
            </li>
            <li>
              Improves Energy & Mood
            </li>
          </ul>
        </p>
        <div class="row">
          <div class="col-sm-8 col-md-6 col-lg-6">
            <a href="#form" class="btn btn--full btn-coral btn-lg">
              Buy Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
